{% extends "core/base.html" %}

{%block title%}Contacto{%endblock%}

{% block content %}
   <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Emyly Nycol Soto Zambrano</p>
          <br>
          <p><b>Teléfono:</b> +593 0984730090</p>
          <p><b>Honorarios:</b> estudiante</p>
          <br>
          <p>Jean Pierre Mendoza Navarrete</p>
          <br>
          <p><b>Teléfono:</b> +593 0984730090</p>
          <p><b>Honorarios:</b> estudiante</p>
        </div>
      </div>
    </div>
{% endblock  %}

{% block background %}{%load static%}{% static 'core/img/contact-bg.jpg'%}{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Creadores</span>
{% endblock %}
    
